@import "./variables.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $secondary-font-family-regular;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    li {
        // list-style: none;
        text-decoration: none;
        font-size: 14px;
        line-height: 28px;
    }
}

a {
    text-decoration: none;
}

// Heading
h1 {
    font-size: 28px;
    text-transform: capitalize;
    font-family: $secondary-font-family-semibold;
}

h2 {
    text-transform: capitalize;
    font-size: 24px;
    font-family: $secondary-font-family-semibold;
}

h3 {
    text-transform: capitalize;
    font-size: 20px;
    font-family: $secondary-font-family-semibold;
    color: $primary-contrast-color;
}

h4 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: $secondary-font-family-semibold;
    color: $secondary-dark-color;
}

h5,
h6 {
    font-size: 16px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 24px;
    @media(max-width: 767px) {
        font-size: 14px;
    }
}

// Span
.underline {
    border-bottom: 2px solid $primary-color;
    padding-bottom: 13px;
    @media(max-width: 767px) {
        border: none;
    }
}

.title {
    font-size: 20px;
    color: $basered;
    margin-right: 20px;
    text-transform: capitalize;
}

.textt-theme {
    color: $primary-color;
}

.textt {
    color: $grey300;
    &:hover {
        color: $primary-color;
    }
}

// Button
.primaryButton {
    font-size: 16px;
    padding: 10px 18px;
    background-color: $primary-color;
    color: $primary-contrast-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    display: inline-block;
    &:hover {
        background: $baseblue;
        color: $primary-contrast-color;
        transition: all 0.5s;
        border: 1px solid $baseblue;
    }
}

.secondaryButton {
    background: $secondary-contrast-color;
    color: $grey200;
    border: 2px solid $secondary-contrast-color;
    padding: 12px 20px;
    font-family: $secondary-font-family-bold;
    border-radius: 4px;
    font-size: 13px;
    display: inline-block;
    &:hover {
        background: transparent;
        border: 2px solid $secondary-contrast-color;
        color: $primary-contrast-color;
    }
    @media(max-width: 991px) {
        padding: 10px 17px;
        font-size: 12px;
    }
}

.map {
    max-width: 800px;
}

.youtubeVideo {
    max-width: 640px;
}

.boxShadow {
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}

// Animations
@keyframes slideInUp {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}