@import "./variables.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $secondary-font-family;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        text-decoration: none;
        font-size: 14px;
        line-height: 28px;
    }
}

a {
    text-decoration: none;
}

// Heading
h1 {
    font-size: 50px;
    color: $primary-contrast-color;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
    text-align: center;
    @media(max-width: 991px) {
        font-size: 40px;
    }
    @media(max-width: 767px) {
        font-size: 30px;
    }
    @media(max-width: 640px) {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'poppinssemibold';
    margin: 0 0 40px 0;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'poppinsmedium';
    color: $primary-contrast-color;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'poppinsmedium';
    color: $secondary-dark-color;
}

h5,
h6 {
    font-size: 14px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 24px;
}

// Span
.underline {
    border-bottom: 2px solid $primary-color;
    padding-bottom: 13px;
    @media(max-width: 767px) {
        border: none;
    }
}

.title {
    font-size: 20px;
    color: $basered;
    margin-right: 20px;
    text-transform: capitalize;
}

.textt-theme {
    color: $primary-color;
}

// Button
.primaryButton {
    font-size: 16px;
    padding: 10px 18px;
    background-color: $primary-color;
    color: $primary-contrast-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    font-family: 'open_sansregular';
    margin: 0 0 18px 0;
    &:hover {
        background: $baseblue;
        color: $primary-contrast-color;
        transition: all 0.5s;
        border: 1px solid $baseblue;
    }
}

.secondaryButton {
    background: $secondary-contrast-color;
    color: $grey2;
    border: 2px solid $secondary-contrast-color;
    padding: 12px 20px;
    font-family: 'open_sansbold';
    border-radius: 4px;
    font-size: 13px;
    &:hover {
        background: transparent;
        border: 2px solid $secondary-contrast-color;
        color: $primary-contrast-color;
    }
    @media(max-width: 991px) {
        padding: 10px 17px 15px;
        font-size: 12px;
    }
}

.map {
    max-width: 800px;
}

.youtubeVideo {
    max-width: 640px;
}

// Animations
@keyframes slideInUp {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}