@import './variables.scss';
.siteFooter {
    padding: 30px 0 0;
    background-color: $solid-dark-color;
    .widgetTitle {
        text-align: left;
        font-size: 16px;
        color: $primary-contrast-color;
        text-transform: uppercase;
        font-family: $primary-font-family-medium;
        position: relative;
        &::after {
            content: "";
            border-bottom: 3px solid $primary-color;
            height: 0px;
            width: 25px;
            position: absolute;
            bottom: -8px;
            left: 0;
        }
    }
    .footerLinks {
        margin-top: 15px;
        ul {
            &.menu {
                margin-bottom: 1rem;
                padding: 0;
                li {
                    border-bottom: 1px dashed $grey100;
                    padding: 10px 0;
                    list-style: none;
                    line-height: 24px;
                    font-family: $secondary-font-family-light;
                    &:last-child {
                        border: none;
                    }
                    a {
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.6);
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .footerDetail {
        font-family: $secondary-font-family-regular;
        margin-top: 15px;
        p,
        a {
            margin: 0;
            line-height: 24px;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            font-family: $secondary-font-family-regular;
        }
        .contactLink {
            a {
                text-decoration: none;
                color: $grey300;
                &.guruImagelink {
                    margin: 6px 0 9px;
                }
                img {
                    max-width: 180px;
                    margin-left: 5px;
                }
                &:hover {
                    color: $primary-color;
                    .mailtext {
                        color: $primary-color;
                    }
                }
                .mailtext {
                    font-size: 16px;
                    color: $grey400;
                }
            }
        }
        .workHour {
            p {
                color: $grey100;
                span {
                    font-family: $secondary-font-family-bold;
                }
            }
        }
    }
}

// Copyright
.copyright {
    background-color: $darkcolor;
    padding: 20px 0;
    @media only screen and (max-width: 767px) {
        text-align: center;
        align-items: center;
    }
    p {
        margin: 0;
        color: $solid-lite-color;
        letter-spacing: 1px;
        font-size: 14px;
        font-family: $secondary-font-family-regular;
    }
    .textRight {
        text-align: right;
        @media only screen and (max-width: 767px) {
            margin-top: 10px;
            text-align: center;
        }
        .socials {
            list-style: none;
            margin: 0 0 10px 0;
            padding: 0;
            li {
                &.facebook {
                    a {
                        &:hover {
                            background: $facebook-color;
                        }
                    }
                }
            }
            li {
                &.instagram {
                    a {
                        &:hover {
                            background: $instagram-color;
                        }
                    }
                }
            }
            li {
                &.twitter {
                    a {
                        &:hover {
                            background: $twitter-color;
                        }
                    }
                }
            }
            li {
                border: 0px solid;
                width: auto;
                display: inline-block;
                font-size: 16px;
                a {
                    color: $primary-contrast-color;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    line-height: 32px;
                    display: inline-block;
                    border-radius: 4px;
                    transition: all .5s;
                    background: $grey100;
                }
            }
        }
    }
}

.backToTop {
    position: fixed;
    right: 25px;
    bottom: 83px;
    display: none;
    z-index: 60;
    border-radius: 4px;
    padding: 4px 11px;
    background-color: $primary-color;
    text-decoration: none;
    cursor: pointer;
    color: $primary-contrast-color;
    text-align: center;
    i {
        display: block;
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 2px;
        text-align: center;
    }
    &:hover {
        background-color: $primary-dark-color;
        transition: all 0.8s;
        color: $primary-color;
    }
    &.show {
        display: block !important;
    }
}

//
.stickyContainer {
    display: none;
    @media screen and (max-width: 1199px) {
        flex-direction: column;
        display: flex !important;
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: -173px;
        top: 230px;
        width: 210px;
        z-index: 1100;
        .sideContactLinks {
            color: $primary-contrast-color;
            background-color: $primary-dark-color;
            color: $secondary-contrast-color;
            height: 43px;
            padding: 0px;
            cursor: pointer;
            transition: all 0.25s ease-in-out;
            font-size: 13px;
            display: flex;
            align-items: center;
            &:hover {
                margin-left: -185px;
            }
            i {
                float: left;
                margin: 5px 4px;
                margin-right: 5px;
                font-size: 21px;
                padding: 6px;
                color: $primary-contrast-color;
                text-align: center;
            }
            img {
                width: 170px;
            }
        }
    }
}