* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "open_sansregular";
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 28px;
  text-transform: capitalize;
  font-family: "open_sanssemibold";
}

h2 {
  text-transform: capitalize;
  font-size: 24px;
  font-family: "open_sanssemibold";
}

h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-family: "open_sanssemibold";
  color: #fff;
}

h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-family: "open_sanssemibold";
  color: #2d2d2d;
}

h5,
h6 {
  font-size: 16px;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.underline {
  border-bottom: 2px solid #f15a24;
  padding-bottom: 13px;
}
@media (max-width: 767px) {
  .underline {
    border: none;
  }
}

.title {
  font-size: 20px;
  color: #eb7260;
  margin-right: 20px;
  text-transform: capitalize;
}

.textt-theme {
  color: #f15a24;
}

.primaryButton {
  font-size: 16px;
  padding: 10px 18px;
  background-color: #f15a24;
  color: #fff;
  border: 1px solid #f15a24;
  border-radius: 4px;
  font-family: "open_sansregular";
  display: inline-block;
}
.primaryButton:hover {
  background: #002858;
  color: #fff;
  transition: all 0.5s;
  border: 1px solid #002858;
}

.secondaryButton {
  background: #efefef;
  color: #666;
  border: 2px solid #efefef;
  padding: 12px 20px;
  font-family: "open_sansbold";
  border-radius: 4px;
  font-size: 13px;
  display: inline-block;
}
.secondaryButton:hover {
  background: transparent;
  border: 2px solid #efefef;
  color: #fff;
}
@media (max-width: 991px) {
  .secondaryButton {
    padding: 10px 17px 15px;
    font-size: 12px;
  }
}

.map {
  max-width: 800px;
}

.youtubeVideo {
  max-width: 640px;
}

@keyframes slideInUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}